body {
  margin: 0;
  padding: 0.2em;
  background-color: #f2f2f2;
}

.container {
  padding: 0 2em;
  display: flex;
}

ul {
  list-style: none;
  display: flex;
}

.input {
  margin: 0.5em 0;
  height: 2em;
  background-color: rgba(124, 40, 40, 0.87);
  color: white;
  border-radius: 0.1em;
  display: inline-flex;
  padding: 0.5em 0.5em 0 0.5em;
  border-radius: 0.5em;
}
.input img {
  height: 1.2em;
  width: 1.2em;
  margin-left: 0.2em;
}
.input:hover {
  cursor: pointer;
  font-weight: bold;
}

a {
  color: white;
  text-decoration: none;
}
a:hover {
  font-weight: bold;
  cursor: pointer;
}

.contact-bar {
  background-color: rgb(145, 140, 140);
  padding: 0.8em;
  font-size: 1.2em;
  overflow: visible;
  height: 1.2em;
  display: flexbox;
  font-size: 0.5em;
}
.contact-bar nav {
  display: flex;
  position: absolute;
  right: 4em;
}
.contact-bar a {
  color: white;
  margin: 0 0.5em;
  text-decoration: none;
}
.contact-bar a:hover {
  cursor: pointer;
  font-weight: bold;
}
.contact-bar .contact-no {
  height: 4em;
  padding: 0.5em 0.2em 0 0.2em;
  background-color: orange;
  border-radius: 0em 0em 0.5em 0.5em;
  position: relative;
  top: -0.8em;
  right: -2em;
  vertical-align: top;
}

nav.nav {
  display: none;
}

.navbar {
  display: flex;
  color: black;
}
.navbar .title-container {
  margin-left: 2em;
  padding: 3em 0.5em 0.3em 0.5em;
  background-color: rgba(124, 40, 40, 0.87);
}
.navbar .title-container .title-nav {
  background-color: rgba(124, 40, 40, 0.87);
  margin-top: 3em;
  padding: 0 0.5em;
  text-align: left;
}
.navbar .mobile-menu {
  width: 1.2em;
  height: 1.2em;
  position: absolute;
  right: 0;
  margin: 4em 2em 0 0;
}
.navbar .nav-primary {
  display: none;
}

.title-section {
  background-color: rgba(124, 40, 40, 0.87);
  text-decoration: none;
}
.title-section .container {
  background-image: url("../images/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0em 2em 0em 2em;
}
.title-section .container .title {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 0.5em;
}
.title-section .container .title p {
  font-size: 1.6em;
  font-weight: 100;
}
.title-section .container .title p b {
  font-weight: 900;
}

.page-description-section {
  background-color: white;
  margin: 0 2em;
}
.page-description-section .page-sub-title {
  padding: 1px 10px;
  font-size: 1em;
  background-color: rgba(124, 40, 40, 0.87);
  color: white;
}
.page-description-section .articles {
  display: inline-block;
}
.page-description-section .articles h6 {
  font-size: 1em;
  margin-bottom: 0.5em;
}
.page-description-section .articles .right-col-img {
  display: none;
}

.articles-section {
  margin: 0 2em;
  background-color: white;
}
.articles-section .container {
  padding: 0 2em;
  display: inline;
}
.articles-section .container .article .prj-imgs {
  display: flex;
  flex-direction: column;
  margin: 0 2em;
}
.articles-section .container .article .prj-imgs .img {
  width: 13em;
  height: 8em;
}
.articles-section .container .article-txt {
  margin: 0 2em;
}

.announsement {
  margin: 0 2em;
  background-color: rgb(220, 252, 252);
}
.announsement .container-announce {
  display: inline-block;
  margin: 0 2em;
  margin-bottom: 0.5em;
}

.footer {
  background-color: darkslategray;
  justify-content: center;
}
.footer .bottom-nav {
  width: 27%;
  margin: 0;
}
.footer .bottom-nav ul.footer-nav-primary {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(6em, 6em));
}
.footer .bottom-contact-bar {
  justify-content: center;
  margin-left: 0.2em;
}
.footer .bottom-contact-bar img {
  width: 2.5em;
  background-color: white;
  padding: 0.1em;
  margin: 1em 0.5em;
  border-radius: 1em;
}
.footer .contact-department {
  text-align: center;
  color: white;
}
.footer .contact-department ul.departments {
  display: grid;
  grid-template-columns: 50% 50%;
}
.footer .contact-department ul.departments li {
  text-align: left;
  margin: 0.1em;
  padding: 0 2em 0 2em;
}

nav.menu-btn {
  display: block;
}

.nav {
  position: fixed;
  z-index: 999;
  width: 40%;
  height: 95%;
  right: 1em;
  background-color: rgba(124, 40, 40, 0.87);
  color: white;
  height: 100vh;
  padding: 0.5em;
}
.nav ul.nav-primary {
  margin-right: 0;
  margin-top: 5em;
  display: block;
}
.nav li a {
  color: white;
  text-decoration: none;
  display: block;
  padding: 0.5em;
  font-size: 1.3em;
  text-align: right;
  cursor: pointer;
}
.nav li a:hover {
  font-weight: bold;
}
.nav .exit-btn {
  float: right;
  width: 2.5em;
  height: 2.5em;
  margin: 2.5em 1em 0.5em 0.5em;
  cursor: pointer;
}

@media screen and (min-width: 775px) {
  .page-description-section {
    font-size: 1.2em;
  }
  .page-description-section .articles {
    display: flex;
  }
  .page-description-section .articles .left-col-text {
    display: inline-block;
    width: 250%;
  }
  .page-description-section .articles .right-col-img {
    margin-right: 2em;
    margin-top: 3em;
    width: 150%;
  }
  .page-description-section .articles .right-col-img .working-person {
    height: 240px;
    width: 350px;
  }

  .articles-section .container {
    display: flex;
  }
  .articles-section .container .article {
    width: 33.3%;
  }
  .articles-section .container .article .prj-imgs {
    flex-direction: row;
  }
  .articles-section .container .article .prj-imgs .img {
    width: 4em;
    height: 3em;
  }

  .footer .contact-department ul.departments {
    display: flex;
    justify-content: center;
  }
  .footer .contact-department ul.departments li {
    text-align: left;
    margin: 0.1em;
    padding: 0 0.5em;
  }
}
@media screen and (min-width: 1050px) {
  .mobile-menu,
.exit-btn {
    display: none;
  }

  .navbar .nav {
    display: flex;
    position: unset;
    height: 0;
    margin-left: 2em;
    margin-bottom: 0;
    width: 100%;
    padding: 0;
  }
  .navbar .nav ul {
    position: absolute;
    right: 2em;
    display: flex;
    padding-top: 3em;
    padding-left: 5em;
    padding-bottom: 0;
    margin: 0;
    justify-content: space-evenly;
  }
  .navbar .nav ul li {
    margin: 0 0.1em;
    padding-top: 2em;
  }
  .navbar .nav ul li a {
    color: black;
    font-size: 0.8em;
    padding: 0.58em 1em;
    background-color: rgb(202, 240, 240);
    border-radius: 0.5em 0.5em 0 0;
  }
  .navbar .nav ul li a:hover {
    font-weight: bold;
    cursor: pointer;
  }
  .navbar .nav ul li #current {
    background-color: orange;
    color: white;
  }

  .articles-section .container .article .prj-imgs .img {
    width: 8em;
    height: 6em;
  }
}/*# sourceMappingURL=main.css.map */